#TopBar{
    margin:15px 0 15px 20px; 
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:auto;
    clear: both;
    
}
#up{
    margin-right: 50px
}
#input{
    
    border:1px solid #ccc;
    outline:none;
    border-radius:5px;
    height:20px;
    padding:5px;
}
#search{
    margin-left: 100px;
}
@media(max-width:700px)
{
    #TopBar{
       
        display: initial;
        
    }
    #search{
        margin: 5px 10px;
    }

    #up{
        margin-top:15px;
        margin-left: -10px;
    }
    .Path{
        margin: 10px 0 15px 0;
    }
}
.Path{
    
    font: 1.5em sans-serif;
    margin-left: 10px;
}
