.QuickAccess{
    height: 100%;
    width: 250px ;
    position: fixed;    
    background-color: #f9fafc;
    overflow: auto;

   
}
@media(max-width:600px){
    .QuickAccess{
        width:100px;
    }
}

.content4{
    margin-left: 20px;
    display: inline;
}