#content{
 margin:5px 15px 5px 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
@media  (max-width:600){
  #content{
    margin:5px 15px 5px 5px;
  }
}
.selected{
  background-color: #eeeff1
}
.arrow-down {
 
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2c3339;
  }

  #sub-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    height: auto;
    padding-left: 5px;
    margin: -20px 15px 5px 35px;  
  }
  
  .arrow-up{
  
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2c3339;
  }